<div class="schome">
  <p>Home Page</p>
  <h2>Components Home</h2>
  <h3>My name is {{ name }}</h3>
  <input [(ngModel)]="name" type="text" />
  <br />
  <button (click)="resetName()">Reset name</button>

  <br />
  <h2>Your Age is {{ age }}</h2>
  <input type="text" [(ngModel)]="age" />
  <button (click)="resetAge()">Reset Age</button>
  <!-- <h3 *ngIf="age <= 18">Young !!</h3>
  <h3 *ngIf="age > 18">Old !!</h3> -->
  <div *ngIf="age <= 18; then young; else old"></div>
  <ng-template #young><h3>ban tre qua</h3></ng-template>
  <ng-template #old><h3>ban gia qua vay</h3></ng-template>
  <br />
  <br />
  <br />
  <table class="table">
    <tr>
      <th>Order</th>
      <th>Name</th>
      <th>Price</th>
      <th>Sale</th>
    </tr>
    <tr *ngFor="let fruit of fruits; let i = index">
      <th>{{ i + 1 }}</th>
      <td>{{ fruit.name }}</td>
      <td>
        <span [ngClass]="{ expensive: fruit.price < 10 }">{{
          fruit.price
        }}</span>
      </td>
      <th>{{ fruit.sale | onSale | uppercase }}</th>
    </tr>
  </table>
  <br />
  Tinh/Thanh Pho
  <select id="city" (change)="onChange($event)">
    <option *ngFor="let data of vietnamData" value="{{ data.city }}">
      {{ data.city }}
    </option>
  </select>
  <br />
  Quan / Huyen
  <select id="city">
    <option *ngFor="let district of districts" value="{{ district }}">
      {{ district }}
    </option>
  </select>
  <div style="margin: 100px 0"></div>
  <div>
    <hot-table
      [data]="dataset"
      [colHeaders]="true"
      [rowHeaders]="true"
      width="1000px"
      height="auto"
      licenseKey="non-commercial-and-evaluation"
    >
      <hot-column data="id" [readOnly]="true" title="ID"></hot-column>
      <hot-column data="name" title="Full name"></hot-column>
      <hot-column data="address" title="Street name"></hot-column>
    </hot-table>
  </div>

  
</div>
